# This is a basic workflow to help you get started with Actions

name: SM8150 Xiaomi Pad 5

# Controls when the workflow will run
on:
#  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "dbkp" ]
    paths:
      - "Platforms/SurfaceDuo1Pkg/Device/xiaomi-nabu/**"
      - "Platforms/AndromedaPkg/Include/Resources/**"
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Indicate that we are running in CI
env:
  WM_CI_BUILD: true

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4
      - name: Build SB/NOSB uefi for xiaomi pad 5.
        run: bash scripts/ci_setup.sh && ./build_uefi.py -d xiaomi-nabu

      - name: Prepare Artifact Name
        id: prep_name
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          RUN_TITLE=$(gh run view ${{ github.run_id }} --json displayTitle --template '{{.displayTitle}}')
          CLEAN_TITLE=$(echo "$RUN_TITLE" | sed 's/[lL][oO][gG][oO]//g' | sed 's/[^a-zA-Z0-9 ]//g' | sed 's/ /_/g' | sed 's/__*/_/g' | sed 's/_$//')
          if [ -z "$CLEAN_TITLE" ]; then CLEAN_TITLE="build"; fi
          echo "CLEAN_TITLE=$CLEAN_TITLE" >> $GITHUB_OUTPUT
          echo "FINAL_NAME=${CLEAN_TITLE}-uefi-nabu" >> $GITHUB_OUTPUT

      - name: Prepare staging folder
        run: |
          mkdir -p staging
          TITLE="${{ steps.prep_name.outputs.CLEAN_TITLE }}"
          DIR_NAME="${{ steps.prep_name.outputs.FINAL_NAME }}"
          TARGET_DIR="staging/$DIR_NAME"
          cp -r Build/*/ci_artifacts/xiaomi-nabu "$TARGET_DIR"

          for f in "$TARGET_DIR"/*.img; do
            [ -e "$f" ] || continue
            new_name=$(basename "$f" | sed "s/xiaomi-nabu/${TITLE}_UEFI/")
            mv "$f" "$TARGET_DIR/$new_name"
          done

          for f in "$TARGET_DIR"/*.fd; do
            [ -e "$f" ] || continue
            new_name=$(basename "$f" | sed "s/SM8150/${TITLE}/")
            mv "$f" "$TARGET_DIR/$new_name"
          done
          cp Platforms/AndromedaPkg/Include/Resources/BootLogo.bmp staging/

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.prep_name.outputs.FINAL_NAME }}
          path: staging/
          compression-level: 9
